<div class="itemposition">
<h2>HONSに関するお問い合わせ</h2>
<div class="container section about">
	<div class="span8 offset2">
	  <br>
		<ul>
				<p>不具合等ございましたら、お手数ですが以下twitterアカウントまでご連絡ください。</p>
				<%= link_to "開発者twitterアカウント", "https://twitter.com/namkta", :rel => 'nofollow' %>
		</ul>
	</div>
</div>
</div>