<div class="itemposition">
<h2>HONSに関するお問い合わせ</h2>
<div class="container section about">
	<div class="span8 offset2">
	  <br>
		<ul>
				<p>不具合、感想、その他の連絡など、 下記お問い合わせページまでお気軽にご連絡ください。</p>
				<%= link_to "お問い合わせページ", "https://goo.gl/forms/V3HgG4ZulPOEHLxQ2", :rel => 'nofollow', :target=>["_blank"] %>
		</ul>
	</div>
</div>
</div>