<div class="showposition">
  <div class='nameshelf'><%= @user.name %>さんの本棚</div>
  <div class='bookcount'>全<%= pluralize(current_user.microposts.count, "冊") %></div>

  
  <% if @user.microposts.any? %>
    <article id="list">
        <%= render @microposts %>
    </article>
    
    <div class='pagecon'><%= will_paginate @microposts, renderer: BootstrapPagination::Rails,  previous_label: '&#8592; &nbsp;前の棚', next_label: '次の棚 &#8594;',
    inner_window: 1, outer_window: 0 %></div>
    
  <% end %>
  
  <hr class="s1">
  <hr class="s1up">
  <hr class="s2">
  <hr class="s2up">
  <hr class="s3">
  <hr class="s3up">
  
  <div id='remote'>
  </div>

</div>