<div class="itemposition">
  <div class='nameshelf'><%= @user.name %>さんの本棚</div>
  
  <%= link_to "本を追加", new_micropost_path, class: "addbookbtn" %>
  
  
  <% if @user.microposts.any? %>
    <article id="list">
        <%= render @microposts %>
    </article>
    
    <div class='pagecon'><%= will_paginate @microposts, renderer: BootstrapPagination::Rails,  previous_label: '&#8592; &nbsp;前', next_label: '次 &#8594;',
    inner_window: 1, outer_window: 0 %></div>
    
  <% end %>
  
  
  <div id='remote'>
  </div>
  
  <div id='remote2'>
  </div>
  
</div>