<div id="container">
<div class='itemposition'>
  <div id="search-box">
    <%= form_tag(new_micropost_path, method: :get) do %>
        <%= text_field_tag :book, "",  id: "book_add_form", name: "keyword", autocomplete:"off", placeholder: "キーワードを入力してください", style: "width: 300px; height:40px;" %>
        <button title="検索" type="submit" class="kensaku">検索</button>

    <% end %>
  </div>
  
  <div id='book_list'>
   <%= render partial: 'book_list' %>
  </div>
  
</div>
</div>