/* header */

@media screen and (min-width:0px) and (max-width:620px) {
  
  .container {
    position: fixed;
    z-index: 10;
    height: 10px;
  }
  
  .navlist-hondana {
    position: relative;
    top:  -54px;
    right: -100px;
  }

  .navlist-add {
    position: relative;
    top:  -94px;
    right: -170px;
  }

  .navlist-setting {
    visibility:hidden;
  }

  .navlist-logout {
    position: relative;
    top:  -174px;
    right: -250px;
  }
  
  
  .navlist-login {
    position: relative;
    top:  -54px;
    right: -280px;
  }
}