/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree . 
 *= require_self
 */
 
 
body {
  margin:0;
  padding:0;
  text-align: center;
  font-size: 15px;
  font-family: "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
  background-color: #fff5ee;
}

.cover {
    width: 100%;
    min-width: 1000px;
    height: 350px;
    background: url('/images/back.png');
    background-size: cover;  
}

.itemposition {
  position:relative;
  top:80px;
}


.tname {
  position:relative;
  top:60px;
  color: #33CC66;
  font-size: 100px;
}


.btn {
  position:relative;
  top:80px;
  text-decoration:none;
  font-size: 1.4em;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
}
.btn:hover {
  background-color: #59b1eb;
}

.addbookbtn {
  position:relative;
  left: 450px;
  text-decoration:none;
  font-size: 1.4em;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
}
.addbookbtn:hover {
  background-color: #59b1eb;
}

.searchuser {
  position:relative;
  left: 450px;
  text-decoration:none;
  font-size: 1.4em;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
}
.searchuser:hover {
  background-color: #59b1eb;
}



.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* forms */

.btn_new {
  position:relative;;
  top:80px;
  text-decoration:none;
  font-size: 1.4em;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
}
.btn_new:hover {
  background-color: #59b1eb;
}

.mail,.pass, .name{
    height: 20px;
    margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
    width: 300px;
    padding: 4px;
    font-size: 14px;
}


.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


#list {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  grid-column-gap: 20px;
}

#list figcaption {
  width: 100px;
}