/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree . 
 *= require_self
 */
 
 
body {
  margin:0;
  padding:0;
  text-align: center;
  font-size: 15px;
  font-family: "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
  background-color: #fff5ee;
}

.cover {
    width: 100%;
    min-width: 1000px;
    height: 350px;
    background: url('/images/back.png');
    background-size: cover;  
}


.itemposition {
  position:relative;
  top:80px;
}


.tname {
  position:relative;
  top:60px;
  color: #33CC66;
  font-size: 100px;
}


.btn {
  position:relative;
  top:80px;
  text-decoration:none;
  font-size: 1.4em;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
}
.btn:hover {
  background-color: #59b1eb;
  text-decoration: none;
}

.addbookbtn {
  position:relative;
  left: 450px;
  text-decoration:none;
  font-size: 1.4em;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
}
.addbookbtn:hover {
  background-color: #59b1eb;
  text-decoration: none;
}

.searchuser {
  position:relative;
  left: 450px;
  text-decoration:none;
  font-size: 1.4em;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
}
.searchuser:hover {
  background-color: #59b1eb;
  text-decoration: none;
}



.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}


/* forms */

.btn_new {
  position:relative;;
  top:80px;
  height: 50px;
  text-decoration:none;
  font-size: 1.4em;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
}
.btn_new:hover {
  background-color: #59b1eb;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  height: 30px;
  width: 20%;
  margin-bottom: 15px;
}

input {
  height: 30px;
}


.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  right: 90px;
}

.loginsave {
  position: relative;
  left: 100px;
  top: 8px;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


#list {
  display: grid;
  padding-left: 20px;
  grid-template-columns: repeat(7, 90px);
  grid-column-gap: 20px;
}

#list figcaption {
  width: 70px;
  height: 60px;
}

#bookimg {
  position: absolute;
  right: 400px;
  top: 80px;
  font-size: 120%;
  font-weight: bold;
}

#booktitle {
  position: absolute;
  top: 370px;
  font-size: 120%;
  font-weight: bold;
  right: 350px;
  width: 300px;
  word-wrap: break-word;
}


.bookname {
  width: 100px;
}

.pagecon {
  position: absolute;
  top: 590px;
  width: 750px;
}

.deletemark{
  position: relative;
  top: -75px;
  left: 30px;
}


/* ○○さんの本棚 */
.nameshelf {
  position: relative;
  right: 380px;
  font-weight: bold;
}

/* 登録した本の総数*/
.bookcount {
  position: relative;
  right: 250px;
  top: -21px;
  font-weight: bold;
}


/* ホーム画面のアイコン */
.icon {
  position: relative;
  top: 95px;
  right: 150px;
}

/*　ホームのタイトル  */
.titlename {
  position:relative;
  left: 40px;
  color: #33CC66;
  font-size: 100px;
}

hr.s1 {
   position: absolute;
   height: 4px;
   background-color: #D2691E;
   border-radius: 20px;
   width: 53%;
   left: 15px;
   top: 210px;
   border: none;
}

hr.s2 {
   position: absolute;
   height: 4px;
   background-color: #D2691E;
   border-radius: 20px;
   width: 53%;
   left: 15px;
   top: 390px;
   border: none;
}

hr.s3 {
   position: absolute;
   height: 4px;
   background-color: #D2691E;
   border-radius: 20px;
   width: 53%;
   left: 15px;
   top: 570px;
   border: none;
}

