/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree . 
 *= require_self
 */
 
  
body {
  margin:0;
  padding:0;
  text-align: center;
  background-color: #f2f2f2;
  font-size: 15px;
  font-family: "游ゴシック", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ ゴシック", sans-serif;
}

.topimage {
    position: relative;
    top: 80px;
    width: 1000px;
    height: 700px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
}

/* ホーム画面のアイコン */
.icon {
  position: absolute;
  top: 165px;
  left: 525px;
}

/*　ホームのタイトル  */
.titlename {
  position:absolute;
  top: 150px;
  left: 625px;
  color: #254380;
  font-size: 100px;
}

/* 新規登録 */
.btn {
  position:absolute;
  top: 320px;
  left: 640px;
  text-decoration:none;
  font-size: 1.4em;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #254380;
  color: #fff;
}
.btn:hover {
  background-color: #59b1eb;
  text-decoration: none;
}

/* 本棚でのアイコン */
.bookhomeicon{
  position: absolute;
  bottom: 10px;
  left: 600px;
  width: 80px;
  height: 80px;
  z-index: 2;
}

.setsumei {
  position: absolute;
  color: white;
  font-size: 20px;
  bottom: 60px;
  left: 500px;
  z-index: 2;
}

.footer {
  position: absolute;
  bottom: -90px;
  width: 100%;
  height: 10px;
}

.tweet {
  position: absolute;
  bottom: -105px;
  left: 780px;
}


.itemposition {
  position:relative;
  top:80px;
}

.showposition {
  position:relative;
  top:60px;
}

.tname {
  position:relative;
  top:60px;
  color: #33CC66;
  font-size: 100px;
}

.addbookbtn {
  position: relative;
  z-index: 2;
  top: 555px;
  left: -600px;
  text-decoration:none;
  padding: 8px 20px;
  border-radius: 10px;
  font-size: 17px;
  background-color: #996633;
  color: #fff;
}
.addbookbtn:hover {
  background-color: #CC6600;
  color: #fff;
  text-decoration: none;
}

.searchuser {
  position:relative;
  left: 450px;
  text-decoration:none;
  font-size: 1.4em;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #333;
  color: #fff;
}
.searchuser:hover {
  background-color: #59b1eb;
  text-decoration: none;
}



.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}


/* forms */

.btn_new {
  position:relative;;
  top: 20px;
  height: 50px;
  text-decoration:none;
  font-size: 1.4em;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #254380;
  color: #fff;
}
.btn_new:hover {
  background-color: #59b1eb;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  height: 30px;
  width: 20%;
  margin-bottom: 15px;
}

input {
  height: 32px
}


.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  right: 90px;
}

.loginsave {
  position: relative;
  left: 100px;
  top: 9px;
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}


#list {
  position: relative;
  display: grid;
  top: 15px;
  padding-left: 20px;
  grid-template-columns: repeat(7, 90px);
  grid-column-gap: 20px;
}

#list figcaption {
  width: 70px;
  height: 60px;
}


#bookimg {
  position: absolute;
  top: 120px;
  right: 400px;
  font-size: 120%;
  font-weight: bold;
}

#booktitle {
  position: absolute;
  top: 140px;
  right: 90px;
  font-size: 120%;
  font-weight: bold;
  width: 300px;
  word-wrap: break-word;
}

#bookauthor {
  position: absolute;
  top: 290px;
  right: 100px;
  font-size: 120%;
  font-weight: bold;
  width: 300px;
  word-wrap: break-word;
}
#bookrelease {
  position: absolute;
  top: 330px;
  right: 100px;
  font-size: 120%;
  font-weight: bold;
  width: 300px;
  word-wrap: break-word;
}

#remoteback {
  position: absolute;
  top: 60px;
  right: 70px;
  width: 550px;
  height: 500px;
  background-color: white;
  border-radius: 10%;
  z-index: 0;
}


.bookname {
  position: absolute;
  font-size: 13px;
  width: 100px;
  z-index: 10;
}

.pagecon {
  position: absolute;
  top: 575px;
  width: 750px;
}

.deletemark{
  position: relative;
  top: -75px;
  left: 30px;
}


/* ○○さんの本棚 */
.nameshelf {
  position: relative;
  right: 380px;
  font-weight: bold;
}

/* 登録した本の総数*/
.bookcount {
  position: relative;
  right: 250px;
  top: -21px;
  font-weight: bold;
}

/* 本をクリックしたときのアマゾン詳細リンク  */
.amalink {
  position: absolute;
  top: 410px;
  right: 410px;
  z-index: 2;
}


/* 本をシェアボタン */
.share-twitter {
  position: absolute;
  font-size: 40px;
  color: #00aced;
  font-family: fontawesome;
  content: "\f099";
  top: 460px;
  right: 520px;
  text-decoration: none;
  z-index: 10;
}

.share-twitter:hover {
  text-decoration: none;
}

.share-line {
  position: absolute;
  font-size: 42px;
  color:#00C300;
  top: 460px;
  right: 423px;
  text-decoration: none;
  z-index: 10;
}

.share-facebook:hover {
  text-decoration: none;
}

.share-facebook {
  position: absolute;
  font-size: 40px;
  color:#3B5998;
  top: 460px;
  right: 473px;
  text-decoration: none;
  z-index: 10;
}

.share-line:hover {
  text-decoration: none;
}


hr.s1 {
    position: absolute;
    left: 15px;
    top: 200px;
    left: 27px;
    margin: 0 -10px;
    padding: 5px 20px;
    width: 730px;
    height: 0px;
    background: #D2691E;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
}

hr.s1up {
    position:absolute;
    top: 162px;
    left: 16px;
    width: 752px;
    height: 0;
    border-width:10px;
    border-style:solid;
    border-color:transparent;
    border-bottom-color: #ed7722;
    z-index: 0;
}

hr.s2 {
    position: absolute;
    left: 15px;
    top: 380px;
    left: 27px;
    margin: 0 -10px;
    padding: 5px 20px;
    width: 730px;
    height: 0px;
    background: #D2691E;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
}

hr.s2up {
    position:absolute;
    top: 342px;
    left: 16px;
    width: 752px;
    height: 0;
    border-width:10px;
    border-style:solid;
    border-color:transparent;
    border-bottom-color: #ed7722;
    z-index: 0;
}

hr.s3 {
    position: absolute;
    left: 15px;
    top: 559px;
    left: 27px;
    margin: 0 -10px;
    padding: 5px 20px;
    width: 730px;
    height: 0px;
    background: #D2691E;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.1);
}

hr.s3up {
    position:absolute;
    top: 520px;
    left: 16px;
    width: 752px;
    height: 0;
    border-width:10px;
    border-style:solid;
    border-color:transparent;
    border-bottom-color: #ed7722;
    z-index: 0;
}



/* 本を検索 */
.kensaku {    
    position:relative;
    left: 10px;
    text-decoration:none;
    font-size: 15px;
    padding: 7px 15px;
    border-radius: 10px;
    background-color: #254380;
    color: #fff;
}

.kensaku:hover {
    background-color: #59b1eb;
    text-decoration: none;
}

/* 本棚に追加ボタン */
#addhondana {
  position: relative;
  left: 450px;
  top: -80px;
  width: 130px;
  height: 50px;
  margin-bottom: -40px;
  text-decoration:none;
  font-size: 15px;
  border-radius: 10px;
  background-color: #996633;
  color: #fff;
}

#addhondana:hover {
    background-color: #CC6600;
    text-decoration: none;
}

/* 検索結果 */
#book_list {
  position: relative;
  display: grid;
  top: 30px;
  padding-left: 400px;
  grid-template-columns: repeat(1, 150px);
}

#kensakutitle {
  position: relative;
  height: 10px;
  width: 300px;
  left: 130px;
  top: -70px;
}


/* スマホ対応  */
@media screen and (min-width:320px) and (max-width:660px) {
  .topimage {
    position: relative;
    top: 80px;
    width: 100%;
    height: 550px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
  }
  
  /* ホーム画面のアイコン */
  .icon {
    display: none;
  }

  /*　ホームのタイトル  */
  .titlename {
    position:absolute;
    top: 150px;
    left: 95px;
    color: #254380;
    font-size: 70px;
  }

  /* 新規登録 */
  .btn {
    position:absolute;
    top: 280px;
    left: 130px;
    text-decoration:none;
    font-size: 1.2em;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #254380;
    color: #fff;
  }
  .btn:hover {
    background-color: #59b1eb;
    text-decoration: none;
  }
  
  .setsumei {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 450px;
    left: 17px;
    font-size: 15px;
    z-index: 2;
  }

  .footer {
    position: absolute;
    top: 640px;
    width: 100%;
    height: 10px;
  }

  .tweet {
    position: absolute;
    top: 640px;
    left: 240px;
  }
  
  .btn_new {
    position:relative;;
    top: 10px;
    width: 200px;
    height: 50px;
    text-decoration:none;
    font-size: 1.1em;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #254380;
    color: #fff;
  }
  .btn_new:hover {
    background-color: #59b1eb;
  }
  
  
  /* 新規登録 */
  input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    height: 30px;
    width: 40%;
    margin-bottom: 15px;
  }

  input {
    height: 30px;
  }
  
  /* 本の画像  */
  #bookimg {
    position: absolute;
    top: 600px;
    left: 10px;
    font-size: 120%;
    font-weight: bold;
  }
  
  #booktitle {
    position: absolute;
    top: 600px;
    left: 190px;
    font-size: 100%;
    font-weight: bold;
    width: 200px;
    word-wrap: break-word;
  }

  #bookauthor {
    position: absolute;
    top: 780px;
    left: 150px;
    font-size: 100%;
    font-weight: bold;
    width: 300px;
    word-wrap: break-word;
  }
  
  #bookrelease {
    position: absolute;
    top: 810px;
    left: 150px;
    font-size: 100%;
    font-weight: bold;
    width: 300px;
    word-wrap: break-word;
  }
  
  .pagecon {
    position: absolute;
    top: -10px;
    left: -170px;
    width: 750px;
    height: 10px;
  }

}
