@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

body {
  padding-top: 50px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 100px;
}

.navbar-default {
  background-color: #d09562;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-text {
    color: rgba(255,255,255,.8);
}

.navbar-default .navbar-nav > li > a {
    color:#fff;
}

/* footer */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}